{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
					<div class="col-md-10 col-xs-12">
						<h1>{{ page_user }}</h1>
						<span class="author-description">{{ page_user.bio | safe }}</span>
						<div class="sociallinks"><a  target="_blank" href="https://www.facebook.com/wowthemesnet/"><i class="fa fa-facebook"></i></a> <span class="dot"></span>
						<a  target="_blank" href="{{ user.profile.fb_url }}"><i class="fa fa-linkedin"></i></a> <span class="dot"></span> 
						<a  target="_blank" href="{{ user.profile.fb_url }}"><i class="fa fa-twitter"></i></a> <span class="dot"></span>
					</div>
					</div>
					<div class="col-md-2 col-xs-12">
						{% if page_user.profil_pic.url %}
							<img class="author-thumb" src="{{ page_user.profil_pic.url }}" alt="Author">

						{% else %}
							<img src="{% static 'theblog/images/default-pic.png' %}"  class="rounded-circle">
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

